@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.hero{
    padding: 10px;
}

.insta-post{
    margin: 0 auto;
    overflow: hidden;
}
.img-item{
    box-sizing: border-box;
    float: left;
    width: 20%;
    padding: 3px;
}
.img-item img{
    width: 100%;
}